[submodule "deps/happly"]
	path = deps/happly
	url = https://github.com/StandardCyborg/happly.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/nanoflann"]
	path = deps/nanoflann
	url = https://github.com/jlblancoc/nanoflann.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/tinygltf"]
	path = deps/tinygltf
	url = https://github.com/StandardCyborg/tinygltf.git
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/StandardCyborg/libigl.git
[submodule "deps/SparseICP"]
	path = deps/SparseICP
	url = https://github.com/StandardCyborg/SparseICP.git
[submodule "deps/XcodeClangFormatWarnings"]
	path = deps/XcodeClangFormatWarnings
	url = https://github.com/StandardCyborg/XcodeClangFormatWarnings.git
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4.git
